<div class="container">
  <div class="oferta" *ngIf="oferta !== undefined">

    <div class="row">
      <div class="col">
        <h4>{{oferta.descricao_oferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" *ngIf="oferta.imagens.length > 0 ; else semImagem " />
          <ng-template #semImagem>
              <img   class="img-fluid"
              src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22457%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20457%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_168699bcc55%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A23pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_168699bcc55%22%3E%3Crect%20width%3D%22457%22%20height%3D%22250%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.3833351135254%22%20y%3D%22135.2%22%3E457x250%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              data-holder-rendered="true">
          </ng-template>
        </div>

        <div class="thumbnails" *ngIf="oferta.imagens.length > 1">
          <img [src]="imagem.url" *ngFor="let imagem of oferta.imagens" class="img-fluid" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{oferta.valor | currency:'R$ '}}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row" style="margin-bottom:2rem;">
    <div class="col-md-12">
      <ul class="nav nav-tabs" id="nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" id="onde-fica" data-toggle="tab" routerLink="onde-fica" role="tab" aria-controls="onde-fica"
            aria-selected="true">onde-fica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" id="como-usar-tab" data-toggle="tab" routerLink="como-usar" role="tab" aria-controls="como-usar-div"
            aria-selected="false">como-usar</a>
        </li>
      </ul>
      <div class="tab-content" id="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


</div>
