<div class="container" >

  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-4" *ngFor="let oferta of ofertas" style="margin-bottom:1rem">
      <div class="card">
        <!-- <img class="card-img-top" src="/assets/ofertas/1/img1.jpg"> -->
        <img class="card-img-top" [src]="oferta.imagens[0].url">
        <div class="card-block">
          <h4 class="card-title">{{oferta.titulo}}</h4>
          <p class="card-text">{{oferta.descricao_oferta}}</p>
          <p class="preco">{{oferta.valor}}</p>
          <a routerLink="/leitura/{{oferta.id}}" class="btn btn-outline-primary">Ver oferta</a>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="/assets/ofertas/2/img1.jpg">
        <div class="card-block">
          <h4 class="card-title">Cozinha Mexicana</h4>
          <p class="card-text">Almoço ou Jantar com Rodízio Mexicano delicioso.</p>
          <p class="preco">R$ 32,90</p>
          <a href="#" class="btn btn-outline-primary">Ver oferta</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="/assets/ofertas/4/img1.jpg">
        <div class="card-block">
          <h4 class="card-title">Estância das águas</h4>
          <p class="card-text">Diversão garantida com piscinas, trilhas e muito mais.</p>
          <p class="preco">R$ 31,90</p>
          <a href="#" class="btn btn-outline-primary">Ver oferta</a>
        </div>
      </div>
    </div> -->
  </div>
  <hr />

</div>
